extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Nueva Bicicleta

    br
    br

    form(action='/bicicletas/create' method='post')
        label(for='id') ID:
        input#color(type='text' name='id')
        br
        label(for='color') Color:
        input#lname(type='text' name='color')
        br
        label(for='modelo') Modelo:
        input#lname(type='text' name='modelo')
        br
        label(for='lat') Latitud:
        input#lname(type='text' name='lat')
        br
        label(for='ing') Longitud:
        input#lname(type='text' name='lng')
        br
        br
        input(type='submit' value='OK')