extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Modificando Bicicleta

    br
    br

    form(action=`/bicicletas/${bici.id}/update` method='post')
        label(for='id') ID:
        input#color(type='text' name='id' value=bici.id)
        br
        label(for='color') Color:
        input#lname(type='text' name='color' value=bici.color)
        br
        label(for='modelo') Modelo:
        input#lname(type='text' name='modelo' value=bici.modelo)
        br
        label(for='lat') Latitud:
        input#lname(type='text' name='lat' value=bici.ubicacion[0])
        br
        label(for='ing') Longitud:
        input#lname(type='text' name='lng'  value=bici.ubicacion[1])
        br
        br
        input(type='submit' value='OK')